<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A simple Database App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> A simple Database App</h1>


    <form method="post">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname">
        <label for="email">Email Address</label>
        <input type="text" name="email" id="email">
        <label for="age">Age</label>
        <input type="text" name="age" id="age">
        <label for="locations">Location</label>
        <input type="text" name="locations" id="locations">
        <input type="submit" name="submit" id="submit" value="submit">
    </form>
    <a href="index.php">Back to Home</a>
    
</body>
</html>